@media (max-width: 1280px) {

    * {
        overflow-x: hidden;
    }

    nav > ul> li > a {
         display: none;
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .avatar-header {
        width: 100%;
        display: flex;
        justify-content: center;
        order: 1;
    }

    .text-content {
        width: 100%;
        order: 2;
    }

    header h1 {
        width: 100%;
        height: auto;
        text-align: center;
    }
    header p {
        width: 100%;
        height: auto;
        text-align: center;

    }
    .text-content ul {
        text-align: center;
    }
    .group-items {
        flex-wrap: wrap;
    }

    .items {
        flex-wrap: wrap;
    }

    .college-items {
        flex-wrap: wrap;

    }

    .project-tumb {
        background-color: brown;
        width: auto;
        overflow-y: hidden;

    }

    .project-tumb img {
        width: 100%;
    }
    .description-project{
        display: block;
        width: 100vw;
        text-align: center;
       
    }
    .btn-repository{
     width: 100%;
     margin: 10px 0;
    }
    .btn-demo{
     width: 100%;
     margin: 10px 0;
    }

    form {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    form input {
        width: 100%;
    }

    form textarea {
        width: 100%;
    }

    .container-btn {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    form button {
        margin: 10px 0;
        width: 500px;
        height: 550px;
    }
    .send-error{
    width: 100%;
    }
    .send-sucess{
    width: 100%;
    }

    .float-btn{
        display: none;
    }
}

@media (max-width: 460px) {
    nav{
        font-size: 12px ;
    }
    .container{
        display: flex;
    }
    .group-items {
        width: auto;
    }
    
    .items {
        width: 100%;
    }
    
    .college-items {
        width: 100%;
    }

    .project-tumb  {
        width: auto;
        overflow-y: hidden;
        }
}

@media (max-width: 400px) {
.logo{
    width: 100vw;
    text-align: center;
    font-size: 2.5em;
}
    nav > ul> li> strong {
        display: none;
   }
}